.navigation {
  padding-left: 0;
  padding-right: 0;
}
@media (min-width: 992px) {
  .navigation {
    padding-left: 30px;
    padding-right: 30px;
  }
}
.navigation__logo {
  height: 65%;
  outline: none;
  cursor: pointer;
}
.navigation__spacer {
  flex: 1 1 auto;
}
.navigation__button {
  margin-left: 10px;
  font-size: 15px;
}
.navigation__button_hidden-mobile {
  display: none;
}
@media (min-width: 768px) {
  .navigation__button_hidden-mobile {
    display: inline-block;
  }
}
.navigation__button_hidden-desktop {
  display: inline-block;
}
@media (min-width: 768px) {
  .navigation__button_hidden-desktop {
    display: none;
  }
}



