<mat-toolbar class="navigation" color="primary">
  <mat-toolbar-row>
    <img class="navigation__logo" routerLink="/home" src="./assets/logo.png" alt="Громадська організація">
    <span class="navigation__spacer"></span>
    <button class="navigation__button" mat-mini-fab routerLink="/add-post">
      <mat-icon>flash_on</mat-icon>
    </button>
    <button class="navigation__button navigation__button_hidden-mobile" mat-button
      routerLink="/posts">Повідомлення</button>
    <button class="navigation__button navigation__button_hidden-mobile" mat-button routerLink="/map">Мапа</button>
    <button class="navigation__button navigation__button_hidden-mobile" mat-button routerLink="/about">Про
      нас</button>
    <button class="navigation__button navigation__button_hidden-desktop" mat-button [matMenuTriggerFor]="menu">
      Меню
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/posts">
        <span>Повідомлення</span>
      </button>
      <button mat-menu-item routerLink="/map">
        <span>Мапа</span>
      </button>
      <button mat-menu-item routerLink="/about">
        <span>Про нас</span>
      </button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>