<div class="home-page">
  <div class="home-page-title">
    <h1 class="home-page-title__header">
      Heading 1
    </h1>
    <div class="home-page-title__pre-header">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla quasi nesciunt minima consectetur, quidem officiis
      facere dicta, suscipit, inventore a vel quod quaerat deleniti eligendi sed nobis delectus? Quasi, sit.
    </div>
    <button class="home-page-title__button" mat-raised-button color="accent" routerLink="/add-post">
      <mat-icon>flash_on</mat-icon>&nbsp;Повідомити
    </button>
  </div>
  <hr>
  <div class="home-page-feedback">
    <h2 class="home-page-feedback__header">
      Написати нам
    </h2>
    <form class="home-page-feedback__form" [formGroup]="form" (ngSubmit)="onSubmit()">
      <po-text-input class="home-page-feedback__input home-page-feedback__input_half" [form]="form" name="name"
        label="Ваше ім'я" [errors]="formErrors['name']"></po-text-input>
      <po-text-input class="home-page-feedback__input home-page-feedback__input_half" [form]="form" name="email"
        label="Ваша пошта" [errors]="formErrors['email']"></po-text-input>
      <po-text-input class="home-page-feedback__input" [form]="form" name="messageText" label="Текст повідомлення"
        [errors]="formErrors['messageText']" textarea="true">
      </po-text-input>
      <button type="submit" class="home-page-feedback__button" mat-raised-button color="primary">
        <mat-icon>mail_outline</mat-icon>&nbsp;Надіслати
      </button>
    </form>
  </div>
</div>