.home-page {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .home-page {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .home-page {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .home-page {
    width: 1170px;
  }
}
.home-page-title {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
@media (min-width: 768px) {
  .home-page-title {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media (min-width: 992px) {
  .home-page-title {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
.home-page-title__header {
  font-size: 32px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.home-page-title__pre-header {
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.home-page-title__button {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px 30px;
  font-size: 18px;
  min-width: 200px;
}
.home-page-feedback {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
}
@media (min-width: 992px) {
  .home-page-feedback {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
.home-page-feedback__header {
  font-size: 28px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.home-page-feedback__form {
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
  margin-top: 40px;
  margin-bottom: 20px;
}
.home-page-form__form-input {
  width: 96%;
  margin-left: 2%;
  margin-right: 2%;
}
@media (min-width: 768px) {
  .home-page-form__form-input {
    width: 46%;
  }
}
.home-page-form__form-textarea {
  width: 96%;
  margin-left: 2%;
  margin-right: 2%;
}
.home-page-form__form-textarea textarea {
  width: 100%;
  min-height: 100px;
}
.home-page-feedback__button {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px 30px;
  font-size: 18px;
  min-width: 200px;
}